<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartpay.android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_wallet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".shopping.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".shopping.activity.LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopping.activity.ScannerActivity"
            android:parentActivityName=".shopping.activity.MainActivity" />
        <activity android:name=".shopping.activity.ShopActivity" />
        <activity
            android:name=".shopping.activity.LocateShops"
            android:parentActivityName=".shopping.activity.MainActivity" />
        <activity
            android:name=".shopping.activity.History"
            android:parentActivityName=".shopping.activity.MainActivity" />
        <activity
            android:name=".shopping.activity.SearchProducts"
            android:parentActivityName=".shopping.activity.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5wBSBYG02reRhG1DFwkfxjT7rq7PS8T8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".shopping.activity.FinishShopping" />
        <activity
            android:name=".shopping.activity.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".shopping.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".shopping.activity.MainActivity" />
        </activity>
        <activity android:name=".shopping.activity.BillHistoryDetails" />
        <activity
            android:name=".payment.WalletActivity"
            android:parentActivityName=".shopping.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".shopping.activity.MainActivity" />
        </activity>
        <activity android:name=".nfc.AddressGrabberActivity">

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
    </application>

</manifest>